.collection--container {
    display: flex;
    flex-direction: column;

    color: #FFFFFF;

    height: 59.125rem;
    width: 76.25rem;
}

/* light mode: */

.collection--container-lm {
    display: flex;
    flex-direction: column;

    color: #000;

    height: 59.125rem;
    width: 76.25rem;
}

.label--container {
    display: flex;
    justify-content: space-between;
}

#label {
    display: flex;
    gap: 10px;    
}

#home, #collections {
    color: #6C7AA0;
}

.collection--container #selector {
    margin: 3.125rem 0 1.25rem 0;
}

.collection--container .trending {
    height: 50.438rem;
    margin-top: 0;
}

/* light mode: */

.collection--container-lm #selector {
    margin: 3.125rem 0 1.25rem 0;
}

.collection--container-lm .trending {
    height: 50.438rem;
    margin-top: 0;
}