main.profile--container {
    display: flex;
    flex-direction: column;
    height: 59.125rem;
    width: 76.25rem;
    color: #FFFFFF;
    overflow-y: auto;
}

main.profile--container-lm {
    display: flex;
    flex-direction: column;
    height: 59.125rem;
    width: 76.25rem;
    color: #000;
    overflow-y: auto;
}

main.profile--container,main.profile--container-lm {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

main.profile--container::-webkit-scrollbar,main.profile--container-lm::-webkit-scrollbar {
    display: none;
}

main.profile--container img, main.profile--container-lm img {
    width: 2.75rem;
}

main.profile--container h1, main.profile--container-lm h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.label--container {
    display: flex;
    justify-content: space-between;
}

#label {
    display: flex;
    gap: 10px;    
}

#home, #profile {
    color: #6C7AA0;
}

.account--info {
    display: flex;
    gap: 1.875rem;
}

.verif--container {
    display: flex;
    flex-direction: column;
    background: #1D1932;
    border-radius: 12px;
    padding: 1.25rem;
    width: 21.25rem;
}

.verif--container-lm {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 1.25rem;
    width: 21.25rem;
}

.verif--container h1, .verif--container-lm h1 {
    margin: .625rem 0 .625rem 0;
}

.verif--action {
    display: flex;
    align-items: center;
    gap: .625rem;
    color: #6F4FF2;
}

#divider {
    margin: 1rem 0 1rem 0;
    border: 0.2px solid #D6DBDE;
}

.verif--desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 2.5rem;
}

.following--element-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
    column-gap: 1.875rem;
    margin-top: 1.25rem;
}

.purchase--container, .profile--container .collection--container, .profile--container-lm .collection--container {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
}

#profile-label {
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
}

#purchased, #collection {
    display: flex;
    flex-direction: column;
}

#purchased-lm, #collection-lm {
    display: flex;
    flex-direction: column;
}

.following {
    display: flex;
    gap: 1.25rem;
}

.following--container {
    display: flex;
    gap: 5.625rem;
    background: #1D1932;
    border-radius: 18px;
    padding: 1.125rem 1.25rem 1.125rem 1.25rem;
    width: 22.5rem;
}

.following--container-lm {
    display: flex;
    gap: 5.625rem;
    background: #FFFFFF;
    border-radius: 18px;
    padding: 1.125rem 1.25rem 1.125rem 1.25rem;
    width: 22.5rem;
}

.following--container button, .following--container-lm button {
    width: 6.125rem;
    height: 2.5rem;
    background: #DC3546;
    border-radius: 9px;
}

#collection, #purchased {
    background: #1D1932;
    border-radius: 18px;
    padding: 1.25rem;
    height: 13.5rem;
    width: 17.625rem;
}

#collection-lm, #purchased-lm {
    background: #FFFFFF;
    border-radius: 18px;
    padding: 1.25rem;
    height: 13.5rem;
    width: 17.625rem;
    color: #000;
}

#purchased #nft, #collection #nft {
    border-radius: 19px;
    height: 11.75rem;
    width: 15.25rem;
    z-index: 1;
}

#purchased-lm #nft, #collection-lm #nft {
    border-radius: 19px;
    height: 11.75rem;
    width: 15.25rem;
    z-index: 1;
}

#collection h1, #purchased h1 {
    margin-top: -2.5rem;
}

#collection-lm h1, #purchased-lm h1 {
    margin-top: -2.5rem;
}

#pfp {
    position: relative;
    z-index: 2;
    bottom: 1.5rem;
    left: 10.25rem;
}